<div class="timelineUnitContainer fbTimelineComposerUnit">
	<div class="_119 stat_elem focus_target _mj _6dh _4_nw" id="u_0_1r" data-referrer="timeline_composer" onclick="Bootloader.loadComponents(&quot;ComposerXControllerBootload&quot;, emptyFunction);">
		<form rel="async" class="_5142 _2_4" action="#" method="post" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)" id="u_0_2k">
			<input type="hidden" name="fb_dtsg" value="AQBVpDTu" autocomplete="off">
			<div class="_4s3"></div>
			<ul class="uiList _1dsl _509- _4ki _6-h _6-j _6-i">
				<li class="_4j _519b">
					<a data-onclick="[[&quot;ComposerXAttachmentBootstrap&quot;,&quot;bootstrap&quot;]]" class="_9lb" aria-pressed="true" href="#" role="button" data-endpoint="/ajax/composerx/attachment/status/">
						<span class="uiIconText _51z7">
							<i class="img sp_exli40 sx_aa8b87"></i>
							<span class="_2-s">Stato</span>
							<i class="_2wr"></i>
						</span>
					</a>
				</li>
				<li class="_92">
					<a data-onclick="[[&quot;ComposerXAttachmentBootstrap&quot;,&quot;bootstrap&quot;]]" class="_9lb" aria-pressed="false" href="#" role="button" data-endpoint="/ajax/composerx/attachment/media/chooser/">
						<span class="uiIconText _51z7">
						<i class="img sp_exli40 sx_168111"></i>
						<span class="_2-s">Foto</span>
						<i class="_2wr"></i>
						</span>
					</a>
				</li>
				<li class="_mg">
					<a data-onclick="[[&quot;ComposerXAttachmentBootstrap&quot;,&quot;bootstrap&quot;]]" class="_9lb" aria-pressed="false" href="#" role="button" data-endpoint="/ajax/composerx/attachment/timeline/place/">
						<span style="padding-left: 20px;" class="uiIconText _51z7">
							<i class="img sp_exli40 sx_cd3e88"></i>
							<span class="_2-s">Luogo</span>
							<i class="_2wr"></i>
						</span>
					</a>
				</li>
				<li class="_yq">
					<a data-onclick="[[&quot;ComposerXAttachmentBootstrap&quot;,&quot;bootstrap&quot;]]" class="_9lb" aria-pressed="false" href="#" role="button" data-endpoint="/ajax/composerx/attachment/timeline/mle/?profile_id=1587000610&amp;mlelocation=composer">
						<span class="uiIconText _51z7">
							<i class="img sp_exli40 sx_02b2cf"></i>
							<span class="_2-s">Avvenimento importante</span>
							<i class="_2wr"></i>
						</span>
					</a>
				</li>
			</ul>
			<img class="_mi _4_nt uiLoadingIndicatorAsync img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif" alt="" width="16" height="11">
			<input type="hidden" autocomplete="off" name="composerid" value="u_0_1r">
			<input type="hidden" autocomplete="off" name="targetid" value="1587000610">
			<input type="hidden" autocomplete="off" name="istimeline" value="1">
			<input type="hidden" autocomplete="off" name="composercontext" value="composer">
			<input type="hidden" autocomplete="off" name="onecolumn" value="1">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="maininput">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="backdateicon">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="placetaggericon">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="cameraicon">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="ogtaggericon">
			<input type="hidden" autocomplete="off" name="loaded_components[]" value="mainprivacywidget">
			<input type="hidden" autocomplete="off" name="composerid" value="u_0_1r">
			<input type="hidden" name="loaded_components[]" value="cameraicon">
			<input type="hidden" name="loaded_components[]" value="backdateicon">
			<input type="hidden" name="loaded_components[]" value="ogtaggericon">
			<input type="hidden" name="loaded_components[]" value="mainprivacywidget">
			<input type="hidden" name="loaded_components[]" value="placetaggericon">
			<input type="hidden" name="loaded_components[]" value="maininput">
		</form>
		<div class="_55d0">
			<form rel="async" action="/ajax/updatestatus.php" method="post"
				onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)"
				id="u_0_1s">
				<input type="hidden" name="fb_dtsg" value="AQBVpDTu"
					autocomplete="off">
				<div class="_2yg">
					<div class="_1zja">
						<div class="_1zjb">
							<span class="_1zjd">Trascina qui il link/le foto</span><span
								class="_4_9w">Rilascia il link</span><span class="_4_9x">Rilascia
								la foto</span><span class="_4_9y">Rilascia le foto</span>
						</div>
					</div>
					<input type="hidden" autocomplete="off" name="xhpc_context"
						value="profile"><input type="hidden" autocomplete="off"
						name="xhpc_ismeta" value="1"><input type="hidden"
						autocomplete="off" name="xhpc_timeline" value="1"><input
						type="hidden" autocomplete="off" name="xhpc_composerid"
						value="u_0_1r"><input type="hidden" autocomplete="off"
						name="xhpc_targetid" value="1587000610">
					<div
						data-onfocus="[[&quot;ComposerXStatusAttachmentBootloader&quot;,&quot;emptyFunction&quot;]]">
						<div id="u_0_1t">
							<div class="uiMentionsInput _11a" id="u_0_24">
								<div class="highlighter">
									<div>
										<span class="highlighterContent"></span>
									</div>
								</div>
								<div class="uiTypeahead composerTypeahead mentionsTypeahead"
									id="u_0_25">
									<input type="hidden" name="clp"
										value="{&quot;cl_impid&quot;:&quot;e9d655dc&quot;,&quot;clearcounter&quot;:0,&quot;elementid&quot;:&quot;u_0_26&quot;,&quot;version&quot;:&quot;x&quot;,&quot;parent_fbid&quot;:1587000610}">
									<div class="wrap">
										<input type="hidden" autocomplete="off" class="hiddenInput">
										<div class="innerWrap">
											<textarea
												class="DOMControl_placeholder uiTextareaAutogrow input autofocus mentionsTextarea textInput"
												title="A cosa stai pensando?" name="xhpc_message"
												placeholder="A cosa stai pensando?" role="textbox"
												aria-autocomplete="list" autocomplete="off"
												aria-expanded="false" aria-owns="typeahead_list_u_0_25"
												onkeydown="window.Bootloader &amp;&amp; Bootloader.loadComponents([&quot;control-textarea&quot;], function() { TextAreaControl.getInstance(this) }.bind(this)); "
												id="u_0_26" aria-label="A cosa stai pensando?">A cosa stai pensando?</textarea>
										</div>
									</div>
								</div>
								<input type="hidden" autocomplete="off" class="mentionsHidden">
							</div>
						</div>
					</div>
					<div class="_3-6"></div>
					<div class="_1dsp _4-">
						<div class="clearfix">
							<div class="_52lb _3-7 lfloat">
								<div class="lfloat" id="u_0_1u">
									<a class="_1dsq _4_nu" href="#" role="button"
										aria-label="Imposta la data e l'orario del tuo post"
										id="u_0_1y"><span class="_1dsr _d30"><span
											class="_4-px ellipsis">Aggiungi data</span></span></a>
								</div>
								<div class="lfloat" id="u_0_22">
									<a class="_1dsq _1dss" href="#"
										data-gt="{&quot;composer&quot;:{&quot;comp&quot;:&quot;location&quot;,&quot;ua_id&quot;:&quot;composer:post&quot;}}"
										aria-label="Aggiungi una posizione al post" role="button"
										id="u_0_23"></a>
								</div>
								<div class="lfloat" id="u_0_1z">
									<div class="_6a _m _1dsq _1dsw hidden_elem" id="u_0_20">
										<a class="_1dsr" role="presentation" rel="ignore" id="u_0_21"><span
											class="_4-px ellipsis">Aggiungi foto</span>
										<div class="_3jk">
												<input type="file" class="_n _5f0v"
													title="Scegli un file da caricare" multiple="1"
													name="composer_unpublished_photo[]"
													aria-label="Aggiungi foto al tuo post" id="js_0">
											</div></a>
									</div>
								</div>
								<div class="lfloat" id="u_0_1v">
									<a class="_1dsq _4-jj" href="#"
										data-gt="{&quot;composer&quot;:{&quot;comp&quot;:&quot;action&quot;,&quot;ua_id&quot;:&quot;composer:post&quot;}}"
										role="button" aria-label="Fai sapere cosa stai facendo"
										title="Fai sapere cosa stai facendo" id="composerActionTagger"><span
										class="_1dsr"><span class="_1dsr _5t3m hidden_elem"></span><span
											class="_4-px ellipsis">Azione tag</span></span></a>
								</div>
							</div>
							<ul class="uiList _1dso rfloat _509- _4ki _6-h _6-j _6-i">
								<li><div id="u_0_1w">
										<div
											class="composerAudienceWrapper stat_elem widget fbComposerAudienceTourContext"
											id="u_0_1x">
											<div
												class="uiSelector inlineBlock audienceSelector composerAudienceSelector dynamicIconSelector uiSelectorRight uiSelectorNormal uiSelectorDynamicLabel uiSelectorDynamicTooltip"
												id="u_0_27" data-name="audience[0][value]">
												<div class="uiToggle wrap">
													<a data-hover="tooltip" aria-label="I tuoi amici"
														data-tooltip-alignh="right"
														class="uiSelectorButton uiButton uiButtonSuppressed"
														href="#" role="button" aria-haspopup="1"
														aria-expanded="false" data-label="" data-length="30"
														rel="toggle"><i
														class="mrs itemIcon img sp_bkh4az sx_d281bc customimg"></i><span
														class="uiButtonText">Amici</span></a>
													<div class="uiSelectorMenuWrapper uiToggleFlyout">
														<div role="menu" class="uiMenu uiSelectorMenu">
															<ul class="uiMenuInner">
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption"
																	data-label="Pubblica"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="0" href="#" aria-checked="false"
																	rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%2280%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_exli40 sx_6d76f9"></i><span
																		class="itemLabel fsm">Pubblica</span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption checked"
																	data-label="Amici" id="u_0_28"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="true"
																	rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%2240%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_bkh4az sx_d281bc"></i><span
																		class="itemLabel fsm">Amici<span
																			class="plusLabel hidden_elem fcg"> (+)</span></span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption"
																	data-label="Amici tranne conoscenti" id="u_0_29"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="false"
																	rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%22127%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_bkh4az sx_124040"></i><span
																		class="itemLabel fsm">Amici tranne conoscenti<span
																			class="plusLabel hidden_elem fcg"> (+)</span></span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption"
																	data-label="Solo io" id="u_0_2a"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="false"
																	rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%2210%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_bkh4az sx_501fd3"></i><span
																		class="itemLabel fsm">Solo io<span
																			class="plusLabel hidden_elem fcg"> (+)</span></span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption"
																	data-label="Personalizzata" id="u_0_2b"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="false"><i
																		class="mrs itemIcon img sp_bkh4az sx_d66ea7"></i><span
																		class="itemLabel fsm">Personalizzata<span
																			class="plusLabel hidden_elem fcg"> (+)</span><span
																			class="customPrivacyInputs"></span></span></a></li>
																<li class="uiMenuSeparator"></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption friendListOption specialOption primaryOption"
																	data-label="Amici più stretti" id="u_0_2c"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="false"
																	data-flid="2201847617513" rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%222201847617513%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_bkh4az sx_a16734"></i><span
																		class="itemLabel fsm">Amici più stretti</span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption moreOption specialOption"
																	data-label="Vedi tutte le liste..."><a
																	class="itemAnchor" role="menuitemradio" tabindex="-1"
																	href="#" aria-checked="false" data-type="friendList"><span
																		class="itemLabel fsm">Vedi tutte le liste...</span></a></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption fbPrivacyAudienceSelectorOption friendListOption specialOption secondaryOption"
																	data-label="Conoscenti" id="u_0_2j"><a
																	class="itemAnchor itemWithIcon" role="menuitemradio"
																	tabindex="-1" href="#" aria-checked="false"
																	data-flid="2306308268964" rel="async-post"
																	ajaxify="/ajax/privacy/simple_save.php?id=0&amp;audience_json=%5B%7B%22value%22%3A%222306308268964%22%7D%5D&amp;source=composer_options"><i
																		class="mrs itemIcon img sp_bkh4az sx_0eba84"></i><span
																		class="itemLabel fsm">Conoscenti</span></a></li>
																<li class="uiMenuSeparator secondaryOption"></li>
																<li
																	class="uiMenuItem uiMenuItemRadio uiSelectorOption returnOption secondaryOption specialOption"
																	data-label="Torna indietro"><a class="itemAnchor"
																	role="menuitemradio" tabindex="-1" href="#"
																	aria-checked="false"><span class="itemLabel fsm">Torna
																			indietro</span></a></li>
															</ul>
														</div>
													</div>
												</div>
												<select name="audience[0][value]"><option value=""></option>
													<option value="80">Pubblica</option>
													<option value="40" selected="1">Amici</option>
													<option value="127">Amici tranne conoscenti</option>
													<option value="10">Solo io</option>
													<option value="111">Personalizzata</option>
													<option value="2201847617513">Amici più stretti</option>
													<option value="Vedi tutte le liste...">Vedi tutte le liste...</option>
													<option value="2306308268964">Conoscenti</option>
													<option value="Torna indietro">Torna indietro</option>
												</select>
											</div>
										</div>
									</div></li>
								<li><button value="1"
										class="_42ft _4jy0 _11b _4jy3 _4jy1 selected" type="submit">Pubblica</button></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>