<div class="_5h60 actionsDropdown" id="pagelet_timeline_profile_actions" data-referrer="pagelet_timeline_profile_actions">
	<span class="uiButtonGroup uiButtonGroupOverlay" id="u_jsonp_3_8">
		<span class="uiButtonGroupItem buttonItem firstItem lastItem">
			<a class="uiButton uiButtonOverlay uiButtonLarge" href="https://www.facebook.com/<%= context.id %>?sk=info&amp;edit=eduwork&amp;ref=update_info_button" role="button">
				<span class="uiButtonText">
					Aggiorna informazioni
				</span>
			</a>
		</span>
	</span>
	<span class="uiButtonGroup actionsContents uiButtonGroupOverlay" id="u_jsonp_3_9">
		<span class="firstItem uiButtonGroupItem buttonItem" style="width:143px;">
			<span class="_9a _9w _9y" id="activityLogButton">
				<a data-hover="tooltip" aria-label="Visualizza le tue attività su Facebook" class="button uiButton uiButtonOverlay uiButtonLarge" href="https://www.facebook.com/<%= context.id %>/allactivity" role="button">
					<span class="uiButtonText">
						Registro attività
					</span>
				</a>
				<a class="counter" href="https://www.facebook.com/<%= context.id %>/allactivity">
					<span class="_97 fss fwb" aria-label="Post e informazioni da rivedere" id="u_jsonp_3_a"><%= context.numNotifiche %></span>
				</a>
			</span>
		</span>
		
		<span class="lastItem uiButtonGroupItem selectorItem">
		
			<div class="uiSelector inlineBlock fbTimelineActionSelector uiSelectorRight">
				<div class="uiToggle wrap">
					<a class="fbTimelineActionSelectorButton uiSelectorButton uiButton uiButtonOverlay uiButtonLarge uiButtonNoText" href="#" role="button" aria-label="Altre azioni" aria-haspopup="1" rel="toggle">
						<i class="mrs img sp_exli40 sx_25eaf2"></i>
						<span class="uiButtonText"></span>
					</a>
					<div class="uiSelectorMenuWrapper uiToggleFlyout">
						<div role="menu" class="uiMenu uiSelectorMenu">
							<ul class="uiMenuInner">
								<li class="uiMenuItem" data-label="Visualizza come..." id="profile_preview_profile_action">
									<a class="itemAnchor" role="menuitem" tabindex="0" href="/profile.php?viewas=100000686899395&amp;privacy_source=timeline_gear_menu" rel="self">
										<span class="itemLabel fsm">
											Visualizza come...
										</span>
									</a>
								</li>
								<li class="uiMenuItem" data-label="Impostazioni del diario" id="profile_timeline_settings">
									<a class="itemAnchor" role="menuitem" tabindex="-1" href="/settings?tab=timeline&amp;privacy_source=timeline_gear_menu">
										<span class="itemLabel fsm">Impostazioni del diario</span>
									</a>
								</li>
								<li class="uiMenuItem" data-label="Aggiungi un badge al tuo sito">
									<a class="itemAnchor" role="menuitem" tabindex="-1" href="/badges/profile.php">
										<span class="itemLabel fsm">Aggiungi un badge al tuo sito</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</span>
	</span>
</div>